.breadcrumb {
   position: relative;
  padding: 35px 0;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb-item {
  color: #675D57;
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: 0.5rem;

    &::before {
      float: left;
      padding-right: 0.5rem;
      color: #6c757d;
      content: var(--bs-breadcrumb-divider, "/");
    }
  }
  a{
    color: #5F809F;
  }
  &.active {
    color: #6c757d;
  }
}
